*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#02C3BD;
    text-align: center;
}

.h1{
    border: 2px solid #fff;
    box-shadow: 0 0 40px #000;

}

.container{
    height: 70vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin; 
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 8vmin;
    color: #BE201E;
    background-color:#EDDEA4;
}

.box.X::after {
    content: 'X';
    color: #ED2943;
}

.box.O::after {
    content: 'O';
    color: #543c9a;
    
}

#reset-btn{
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #C70026;
   border-radius: 1rem;
   border: 2px solid #fff;
   box-shadow: 0 0 40px #000;
   color: #fff;
   cursor:pointer;

}

#new-btn{
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #ad25b5;
   color: #fff;
   border-radius: 1rem;
   border: 2px solid #fff;
   cursor:pointer;
   box-shadow: 0 0 40px #000;

}

#msg{
    color: #ffffc7;
    font-size: 5vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}

